## Observations and Insights

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset

df = pd.merge(mouse_metadata, study_results, how="inner", on="Mouse ID")

# Display the data table for preview

df.head(10)

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
5,k403,Ramicane,Male,21,16,25,33.464577,1
6,k403,Ramicane,Male,21,16,30,31.099498,1
7,k403,Ramicane,Male,21,16,35,26.546993,1
8,k403,Ramicane,Male,21,16,40,24.365505,1
9,k403,Ramicane,Male,21,16,45,22.050126,1

In [2]:
df = df.rename(columns={"Mouse ID":"mouse", "Drug Regimen": "drug",
                       "Sex":"sex", "Age_months":"age", "Weight (g)":"weight",
                       "Timepoint":"timepoint", "Tumor Volume (mm3)":"tum_vol", 
                       "Metastatic Sites": "m_sites"})
df

     mouse      drug   sex  age  weight  timepoint    tum_vol  m_sites
0     k403  Ramicane  Male   21      16          0  45.000000        0
1     k403  Ramicane  Male   21      16          5  38.825898        0
2     k403  Ramicane  Male   21      16         10  35.014271        1
3     k403  Ramicane  Male   21      16         15  34.223992        1
4     k403  Ramicane  Male   21      16         20  32.997729        1
...    ...       ...   ...  ...     ...        ...        ...      ...
1888  z969  Naftisol  Male    9      30         25  63.145652        2
1889  z969  Naftisol  Male    9      30         30  65.841013        3
1890  z969  Naftisol  Male    9      30         35  69.176246        4
1891  z969  Naftisol  Male    9      30         40  70.314904        4
1892  z969  Naftisol  Male    9      30         45  73.867845        4

[1893 rows x 8 columns]

In [3]:
# Checking the number of mice.
df["mouse"].nunique()

249

In [7]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 

df[df.duplicated(subset=["mouse", "timepoint"])]

    mouse      drug     sex  age  weight  timepoint    tum_vol  m_sites
909  g989  Propriva  Female   21      26          0  45.000000        0
911  g989  Propriva  Female   21      26          5  47.570392        0
913  g989  Propriva  Female   21      26         10  49.880528        0
915  g989  Propriva  Female   21      26         15  53.442020        0
917  g989  Propriva  Female   21      26         20  54.657650        1

In [9]:
# Optional: Get all the data for the duplicate mouse ID. 

df[df["mouse"] == "g989"]

    mouse      drug     sex  age  weight  timepoint    tum_vol  m_sites
908  g989  Propriva  Female   21      26          0  45.000000        0
909  g989  Propriva  Female   21      26          0  45.000000        0
910  g989  Propriva  Female   21      26          5  48.786801        0
911  g989  Propriva  Female   21      26          5  47.570392        0
912  g989  Propriva  Female   21      26         10  51.745156        0
913  g989  Propriva  Female   21      26         10  49.880528        0
914  g989  Propriva  Female   21      26         15  51.325852        1
915  g989  Propriva  Female   21      26         15  53.442020        0
916  g989  Propriva  Female   21      26         20  55.326122        1
917  g989  Propriva  Female   21      26         20  54.657650        1
918  g989  Propriva  Female   21      26         25  56.045564        1
919  g989  Propriva  Female   21      26         30  59.082294        1
920  g989  Propriva  Female   21      26         35  62.570880        2

In [11]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.

clean_df = df[df["mouse"] != "g989"]

In [12]:
# Checking the number of mice in the clean DataFrame.
clean_df["mouse"].nunique()

248

## Summary Statistics

In [36]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.

drugs = clean_df["drug"].unique()
print(sorted(drugs))


df_dict = {}


for drug in drugs:
    df = clean_df[clean_df["drug"] == drug]
    df_dict[drug] = df.sort_values(by="mouse")

['Capomulin', 'Ceftamin', 'Infubinol', 'Ketapril', 'Naftisol', 'Placebo', 'Propriva', 'Ramicane', 'Stelasyn', 'Zoniferol']

In [39]:
df_dict["Capomulin"].reset_index(drop=True)
df_dict["Ramicane"].reset_index(drop=True)
df_dict["Infubinol"].reset_index(drop=True)
df_dict["Ceftamin"].reset_index(drop=True)

    mouse      drug     sex  age  weight  timepoint    tum_vol  m_sites
0    a275  Ceftamin  Female   20      28          0  45.000000        0
1    a275  Ceftamin  Female   20      28         40  60.921539        3
2    a275  Ceftamin  Female   20      28         35  56.353538        2
3    a275  Ceftamin  Female   20      28         30  54.444713        2
4    a275  Ceftamin  Female   20      28         25  53.576064        1
..    ...       ...     ...  ...     ...        ...        ...      ...
173  y865  Ceftamin    Male   23      26         20  52.361982        1
174  y865  Ceftamin    Male   23      26         25  57.173538        2
175  y865  Ceftamin    Male   23      26         30  59.033275        3
176  y865  Ceftamin    Male   23      26         35  61.153140        3
177  y865  Ceftamin    Male   23      26         45  64.729837        3

[178 rows x 8 columns]

In [61]:
capo_s = df_dict["Capomulin"]["tum_vol"].agg(["mean", "median", "var", "std", "sem"])
ceft_s = df_dict["Ceftamin"]["tum_vol"].agg(["mean", "median", "var", "std", "sem"])
infu_s = df_dict["Infubinol"]["tum_vol"].agg(["mean", "median", "var", "std", "sem"])
keta_s = df_dict["Ketapril"]["tum_vol"].agg(["mean", "median", "var", "std", "sem"])
naft_s = df_dict["Naftisol"]["tum_vol"].agg(["mean", "median", "var", "std", "sem"])
plac_s = df_dict["Placebo"]["tum_vol"].agg(["mean", "median", "var", "std", "sem"])
prop_s = df_dict["Propriva"]["tum_vol"].agg(["mean", "median", "var", "std", "sem"])
rami_s = df_dict["Ramicane"]["tum_vol"].agg(["mean", "median", "var", "std", "sem"])
stel_s = df_dict["Stelasyn"]["tum_vol"].agg(["mean", "median", "var", "std", "sem"])
zoni_s = df_dict["Zoniferol"]["tum_vol"].agg(["mean", "median", "var", "std", "sem"])

summary = pd.DataFrame(
    data=[capo_s, ceft_s, infu_s, keta_s, naft_s, plac_s, prop_s, rami_s, stel_s, zoni_s], 
    index=sorted(drugs))

summary

                mean     median        var       std       sem
Capomulin  40.675741  41.557809  24.947764  4.994774  0.329346
Ceftamin   52.591172  51.776157  39.290177  6.268188  0.469821
Infubinol  52.884795  51.820584  43.128684  6.567243  0.492236
Ketapril   55.235638  53.698743  68.553577  8.279709  0.603860
Naftisol   54.331565  52.509285  66.173479  8.134708  0.596466
Placebo    54.033581  52.288934  61.168083  7.821003  0.581331
Propriva   52.320930  50.446266  43.852013  6.622085  0.544332
Ramicane   40.216745  40.673236  23.486704  4.846308  0.320955
Stelasyn   54.233149  52.431737  59.450562  7.710419  0.573111
Zoniferol  53.236507  51.818479  48.533355  6.966589  0.516398

In [67]:
for drug in sorted(drugs):
    
    mean = df_dict[drug]["tum_vol"].mean()
    median = df_dict[drug]["tum_vol"].median()
    var = df_dict[drug]["tum_vol"].var()
    std = df_dict[drug]["tum_vol"].std()
    sem = df_dict[drug]["tum_vol"].sem()
    data = [mean, median, var, std, sem]
    print(data)

[40.67574114100001, 41.557808879999996, 24.947764120254853, 4.9947736805840215, 0.32934562340083096]
[52.59117180960677, 51.77615728, 39.29017727327859, 6.268187718414198, 0.4698205327526109]
[52.88479510859551, 51.82058438, 43.12868412883606, 6.5672432670669405, 0.4922356938011383]
[55.23563764047871, 53.698742644999996, 68.55357711244594, 8.279708757706755, 0.6038598237739695]
[54.331564658333306, 52.509284609999995, 66.17347898736509, 8.13470829147334, 0.5964657512424236]
[54.03358078635358, 52.28893409, 61.16808293669701, 7.821002681031187, 0.5813305510593875]
[52.32092985999999, 50.446266345, 43.852013013020425, 6.622085246583619, 0.5443320541940471]
[40.21674506671053, 40.67323554, 23.48670395209524, 4.846308280753014, 0.3209546065084815]
[54.23314911988949, 52.43173664, 59.45056167336596, 7.710419033578264, 0.5731109332771457]
[53.23650655159343, 51.818479325, 48.53335538938608, 6.966588504381903, 0.5163978968332168]

In [8]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line

## Bar and Pie Charts

In [9]:
# Generate a bar plot showing the total number of timepoints for all mice tested for each drug regimen using Pandas.

In [10]:
# Generate a bar plot showing the total number of timepoints for all mice tested for each drug regimen using pyplot.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using Pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen